@import "../../style.scss";

.rate {
  @include themify($themes) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

    .wrapper {
      margin: auto;
      width: 30%;
      height: 20%;
      -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      border-radius: 20px;
      background-color: themed("bg");
      align-items: center;
      padding: 50px;
      z-index: 999;
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;
      
      @include mobile {
        width: 100%;
        height: 100%;
      }

      h1 {
        color: darkgrey;
      
        @include mobile {
         font-size: 20px;
        }
      
      }

      .stars {
        display: flex;

        button {
          background-color: transparent;
          border: none;
        }
      }


      .close {
        position: absolute;
        top: 10px;
        right: 20px;
        border: 1px solid darkgray;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        color: darkgray;
      }


    }
  }
}