@import "../../style.scss";

.postpage {
    @include themify($themes) {
        padding: 50px 70px;
        background-color: themed("bgSoft");
        display: flex;
        flex-direction: column;
        height: 90%;
    }
}