@import "../../style.scss";

.category-picker {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    gap: 10px;

    select {
      padding: 10px 12px;
      border-radius: 8px;
      border: 1px solid themed("border");
      background-color: themed("bg");
      color: themed("textColor");
      font-size: 14px;
    }
  }
}
