@import "../../style.scss";

.ads{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px;

    @include mobile {
        margin: 10px;
    }
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 500px));
    align-items: flex-start;
    gap: 20px;
}